<#include "/header.ftl">
<div class="container">
	<#include "/ui/breadcrumb.ftl">
	<div class="row">
		<blockquote>
			<p>"${quote.text}"</p>
			<footer>
				${quote.author} - <cite title="Source Title">${quote.context}</cite>
			</footer>
		</blockquote>
	</div>
	<div class="row">
		<a href="#" class="btn btn-default" role="button">Edit</a>
	</div>
</div>
<#include "/footer.ftl">
